<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.us.dao.EventDao">
    <resultMap id="eventMap" type="com.us.bean.Event">
		<id property="id" column="id"/>
		<result property="host" column="host"/>


    </resultMap>
    
    <sql id="queryCondition">
        <where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="host != null and host != ''">
				and host = #{host}
			</if>

        </where>
    </sql>
    	
    <select id="getByMap" parameterType="map" resultMap="eventMap">
    	SELECT * FROM event
		<include refid="queryCondition" />
    </select>
    
    <select id="getById" parameterType="int" resultMap="eventMap">
    	SELECT * FROM event WHERE id =#{id}
    </select>

    <insert id="create" parameterType="com.us.bean.Event">
        <selectKey resultType="int"  order="AFTER" keyProperty="id" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO event(
			id,
			host,

		)VALUES(
			#{id},
			#{host},
		)
    </insert>
    
    <update id="update" parameterType="com.us.bean.Event">
		UPDATE event SET
			host = #{host},

		WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="int">
    	DELETE FROM event WHERE id = #{id}
    </delete>
    
</mapper>